.menu {
    background: #1A1814;
}
.menu__container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 100px 0;
}

.menu__filters {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

}
.menu__filters li:focus-visible {
    background: #cda45e;
}
.menu__filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 10px 12px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
}
.menu__filters li:hover {
    color: #cda45e;
}
.menu__filters__active {
    color: #cda45e !important;
}

/* MENU CONTENT */
.desativado {
    display: none !important;
}

.menu__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.menu__item {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.menu__item a {
    color: #fff;
    background: #1A1814;
    padding-right: 10px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    transition: .3s;
    position: relative;
    z-index: 1;
}

.menu__item a:hover {
    color: #cda45e;
}

.detail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
   position: absolute;
   
    
}
.price {
    position: absolute;
    right: 0;
    background: #1A1814;
    padding-left: 10px;
    color: #cda45e;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.menu__item p {
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
}
.menu__item img {
    max-width: 100%;
    max-width: 68px;
    max-height: 68px;
    border-radius: 100%;
    border: solid 5px rgba(255, 255, 255, 0.2);
}

@media (max-width: 1400px) {
    .menu__container {
        max-width: 1140px;
    }
    .detail {
        position: absolute;
        left: 90px;
    }
    .menu__items {
        gap: 30px;
        padding: 20px;
    }
}
@media (max-width: 1100px) {
    .menu__container {
        max-width: 700px;
    }
    .menu__items {
        grid-template-columns: 1fr;
        padding: 0;
        
        
    }
    .menu__item {
        justify-content: space-between;
    }
    .price {
        position: initial;
    }
    .detail {
        position: initial;
    }
    
}
@media (max-width: 700px) {
    .menu__item {
        justify-content: start;
        gap: 10px;
        padding: 20px;
    }
    .detail {
        display: none;
    }
}
